version: 2.1

# to use dynamic configuration
setup: true
orbs:
  continuation: circleci/continuation@2.0.1
  sfdx: circleci/salesforce-sfdx@3.0.3

jobs:
  setup:
    docker:
      - image: cimg/node:lts
    environment:
      - DX_CLI_URL: https://developer.salesforce.com/media/salesforce-cli/sfdx/channels/stable/sfdx-linux-x64.tar.xz
      - HUB_ALIAS: HubOrg
      - PACKAGE_LABEL: "create packages"
    executor: continuation/default
    steps:
        - checkout
        - run:
            name: Install GH CLI
            command: |
              type -p curl >/dev/null || sudo apt install curl -y
              curl -fsSL https://cli.github.com/packages/githubcli-archive-keyring.gpg | sudo dd of=/usr/share/keyrings/githubcli-archive-keyring.gpg \
              && sudo chmod go+r /usr/share/keyrings/githubcli-archive-keyring.gpg \
              && echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null \
              && sudo apt update \
              && sudo apt install gh -y
              echo $GH_ACCESS_TOKEN | gh auth login --with-token
        - sfdx/install
        - sfdx/auth:
            defaultusername: blearn5241@wise-impala-ijbwfx.com
            defaultdevhubusername: HubOrg
            consumerKey: HUB_CONSUMER_KEY
            jwtKey: SFDX_JWT_KEY
            instanceUrl: https://recommendedbadges-dev-ed.my.salesforce.com
        - when:
            condition:
              not: 
                equal: [ main, $CIRCLE_BRANCH ]
            steps:
              - run:
                  name: Populate Dynamic Parameters
                  command: |
                    echo $CIRCLE_PULL_REQUEST
                    echo $CIRCLE_BRANCH
                    npm run populateParameters
              - continuation/continue:
                  configuration_path: .circleci/pipeline.yml
                  parameters: parameters.json

workflows:
  setup:
    when:
      condition:
        not:
          - equal: [ main, << pipeline.git.branch >> ]
    jobs:
      - setup
